.vscode
.DS_Store
nbproject
.nbproject_*
.project
.cproject
build
mapper
libstreetmap.a
test_libstreetmap
*.bin
**/.nfs*
nbproject
.nbproject_*
build
mapper
libstreetmap.a
test_libstreetmap
nbproject
.nbproject_*
build
mapper
libstreetmap.a
test_libstreetmap
nbproject
.nbproject_*
build
mapper
libstreetmap.a
test_libstreetmap
